<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/request/board</title>
</head>
<body>
    <hr>
    <h3>POST - checkbox 요청</h3>
    <form action="/request/check" method="post">
      <input type="checkbox" name="person.hobby" id="movie" value="movie" />
      <label for="movie">영화감상</label>
      <input type="checkbox" name="person.hobby" id="music" value="music" />
      <label for="music">음악감상</label>
      
      <input type="checkbox" name="hobby" id="book" value="book" />
      <label for="book">독서</label>
      
      <input type="submit" value="등록">
    </form>
</hr>

    <h3>POST -  person + checkbox 요청</h3>
    <form action="/request/check/person" method="post">
        <div>
            <label for="name">이름 : </label>
            <inpu type="text" name="name" id="name"></inpu>
        </div>

        <div>
            <label for="age">나이 : </label>
            <input for="text" name="age" id="age">
        </div>
      <input type="checkbox" name="person.hobby" id="movie2" value="movie" />
      <label for="movie">영화감상</label>
      <input type="checkbox" name="person.hobby" id="music2" value="music" />
      <label for="music">음악감상</label>
      <input type="checkbox" name="person.hobby" id="book2" value="book" />
      <label for="book">독서</label>
      <input type="submit" value="등록">
    </form>


    <h3>POST -  person + major + checkbox 요청</h3>
    <form action="/request/check/personDTO" method="post">
        <div>
            <label for="name">이름 : </label>
            <inpu type="text" name="person.name" id="name"></inpu>
        </div>

        <div>
            <label for="age">나이 : </label>
            <input for="text" name="person.age" id="age">
        </div>
        <div>
            <label for="major">전공 : </label>
            <input type="text" name="major" id="age">
        </div>
      <input type="checkbox" name="person.hobby" id="movie3" value="movie" />
      <label for="movie">영화감상</label>
      <input type="checkbox" name="person.hobby" id="music3" value="music" />
      <label for="music">음악감상</label>
      <input type="checkbox" name="person.hobby" id="book3" value="book" />
      <label for="book">독서</label>
      <input type="submit" value="등록">
    </form>

    <h3>/request/file</h3>
    <form action="/request/file" method="POST"enctype="multipart/form-data">
        <input type="file" name="file" /> <br>
        <input type="submit" value="업로드" />
    </form>
    
    <h3>/request/file/multi</h3>
    <form action="/request/file/multi" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple /> <br>
        <input type="submit" value="업로드" />
    </form>
        <hr>
    

</body>
</html>