<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 프로젝트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="text-center">게시글 목록</h1>
                    <div class="d-flex justify-content-end">
                        <a href="/board/create" class="btn btn-primary">글쓰기</a>
                    </div>
                    <table class="table table-bordered table-striped table-hover table-responsive mt-3 text-center">
                        <colgroup>
                            <col class="col-2">  <!-- 썸네일 -->
                            <col class="col-1">  <!-- 번호 -->
                            <col class="col-3">  <!-- 제목 -->
                            <col class="col-2">  <!-- 작성자 -->
                            <col class="col-2">  <!-- 등록일자 -->
                            <col class="col-2">  <!-- 수정일자 -->
                        </colgroup>
                        <tr class ="table-dark">
                            <th>썸네일</th>
                            <th width="150">번호</th>
                            <th width="300">제목</th>
                            <th>작성자</th>
                            <th>등록일자</th>
                            <th>수정일자</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

            </thead>
            <tbody>
                <tr th:if="${list == null or list.isEmpty()}">
                    <td colspan="5" class="py-4">등록된 게시글이 없습니다.</td>
                </tr>

                <tr th:each="board : ${list}">
                    <td th:text="${board.no}">1</td>
                    <td class="text-start ps-3">
                        <a th:href="@{/board/detail(no=${board.no})}" th:text="${board.title}" class="text-decoration-none text-dark">
                            제목
                        </a>
                    </td>
                    <td th:text="${board.writer}">작성자</td>
                    
                    <td th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(board.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>